



.news{
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: calc(100vw/3.2);
	min-width: 360px;
}




.news .block_1{
	grid-column: 1/span 5;
	background-color: #B9DF9F;
	background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"><line x1="0" y1="100%" x2="100%" y2="0" stroke="rgb(255,255,255)" stroke-width="1"/></svg>');
	font-weight: bold;
	font-size: calc(100vw/28);
	padding: calc(100vw/6.2) 0 0 calc(100vw/6.45);
	color: white;
}



.news .block_2{
	grid-column: 6/span 15;
	background-color: #E9E9E3;
	display:flex;
	justify-content: space-around;
	align-items: center;
}


.news .mini-block{
	width: calc(100vw/3.5);
	font-size: calc(100vw/90)
}

.news .mini-block h3{
	font-size: calc(100vw/50);

}


.news .mini-block img{
	width: 100%;
	margin-top: calc(100vw/70);
}


.rmore{
	color:red;
	font-weight: bold;
	text-align: end;
	margin-top: calc(100vw/90) ;
}